#!/bin/bash
##############################################
# Toolchains
##############################################
# Toolchain root directory
TD=/home/gdszero/toolchains/neutron-clang/

# Preferred editor
EDIT=nano

# Architecture
export ARCH=arm64
export SUBARCH=arm64

# Clang
export CLANG_ROOT=${TD}
export CLANG_PATH=${CLANG_ROOT}/bin
export PATH=${CLANG_PATH}:${PATH}
export LD_LIBRARY_PATH=${CLANG_ROOT}/lib64:$LD_LIBRARY_PATH

## "CC=clang" cannot be exported - we'll pass it to make in the function make_kernel if "CC" is set to "clang" 
CC=clang

# GCC 64bit
## arm64 cross compiler directory:
export CROSS_COMPILE=aarch64-linux-gnu-
export CROSS_COMPILE_COMPAT=arm-linux-gnueabi- 
export LLVM=1 
export LLVM_IAS=1
